.history {
  width: 872px;
  margin: 0 auto;
  border-spacing: 0 0;
  thead {
    height: 68px;
    background-color: #ebeef2;

    th {
      width: 290px;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 30px;
      color: #272727;
      font-family: "Helvetica Neue Cyr";
      font-weight: bold;
      height: 68px;

      border: 2px solid #fff;
    }
  }
  tbody tr td {
    height: 68px;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #5c6975;
    font-family: "Roboto";
    font-weight: 300;
    border: 2px solid #ebeef2;
    border-spacing: 0 0;
  }
}
