.balance {
  margin: 0 auto;
  width: 400px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    width: 100px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #5c6975;
    font-weight: 700;
    text-align: center;
  }
  span:last-child {
    width: 200px;
  }
}
